/*Search page styling*/

.trainHeadings,
.trainSearch {
  display: flex;
  width: 60%;
  text-align: center;
  color: #003355;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}

.trainSearch {
  background-color: #003355;
  border-radius: 20px;
}
.trainSearch form {
  padding: 50px;
}

.trainSearch input {
  margin: 10px auto;
  width: 300px;
}

.trainSearch input placeholder {
  text-align: center;
}

.form-control::-webkit-input-placeholder {
  color: #555;
  text-align: center;
}
.form-control::-webkit-input-placeholder {
  color: #555;
  text-align: center;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: #555;
  text-align: center;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #555;
  text-align: center;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #555;
  text-align: center;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: #555;
  text-align: center;
} /* Microsoft Edge */

#findButton {
  background-color: #fd9328;
  border: 2px solid #fd9328;
  color: #fff;
  font-weight: bold;
}
.NRE {
  display: flex;
  margin: 20px auto;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
}
